<header class='header'>
  <h1 class='page-title'>Blog Articles</h1>
  <%= link_to 'Create New Article', new_article_path, class: 'link' %>
</header>

<body id='index-container'>
<% @articles.each do |article| %>
  <ul id='article-list'>
    <li>
      <% if article.title.length > 25 %>
        <h4 id='blog-title-long'><%= article.title %></h4>
      <% else %>
        <h4 id='blog-title'><%= article.title %></h4>
      <% end %>
      <div id='index-image' style='background-image: url(<%= article.image %>)'></div>
      <div class='link-container'>
        <%= link_to 'View', article_path(article), class: 'link' %>
        <%= link_to 'Edit', edit_article_path(article), class: 'link' %>
        <%= link_to 'Delete', article_path(article), class: 'link',
        method: :delete %>
      </div>
    </li>
  </ul>
<% end %>
</body>