<body id='show-container'>
  <header class='header'>
    <h1 class='page-title'>
      <%= @article.title %>
    </h1>
    <div class='link-container'>
      <%= link_to 'Edit', edit_article_path(@article), class: 'show-link' %>
      <%= link_to 'Back', articles_path, class: 'show-link' %>
    </div>
  </header>

  <div id='show-image' style='background-image: url(<%= @article.image %>)'></div>
  <p id='blog-text'>
    <%= @article.text %>
  </p>

  <% if @article.comments.length == 0 %>
    <% nil %>
  <% else %>
    <%= render @article.comments %>
  <% end %>

  <div id='create-comment-container'>
    <%= render 'comments/form' %>
  </div>
</body>